<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="mainCtrl">
      <ion-header-bar class="bar-positive" align-title="center">
        <h1 class="title">TestApp</h1>
      </ion-header-bar>
      <ion-content>
        <br /><br />
        <div class="divMain text-center">
          <button class="button button-positive" ng-click="openCam()">Camera Test</button>
          <br /><br />
          <button class="button button-positive" ng-click="openQr()">Qr test</button>
        </div>

      </ion-content>
    </ion-pane>





    <!-- <ion-view class="has-header padding" ng-controller="imageController">
      <button class="button button-energized" ng-click="addImage()">
        Add image
      </button><br>
      <ion-scroll>
        <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px" ng-click="deletePopup($index)" />
      </ion-scroll>
    </ion-view> -->
  </body>
</html>
