<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter" ng-controller="qrCtrl">
    <ion-pane>
      <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-clear" ng-click="backToMain()">
          Back
        </button>
        <h1 class="title">TestApp</h1>
      </ion-header-bar>
      <ion-content>
        <p></p>
        <button class="button button-positive" ng-click="scanQr()">Scan</button>
        <ul>
          <li>
            Erythrozyten: {{ qrObj.E }} Mio./µl
          </li>
          <li>
            Leukozyten: {{ qrObj.L }} /µl
          </li>
          <li>
            Thrombozyten: {{ qrObj.T }} /µl
          </li>
          <li>
            Hämoglobinkonzentration: {{ qrObj.Hb }} g/dl
          </li>
          <li>
            Hämatokrit: {{ qrObj.Hk }} %
          </li>
          <li>
            MCH: {{ qrObj.M }} pg
          </li>
          <li>
            MCHC: {{ qrObj.MC }} g/dl
          </li>
          <li>
            MCV: {{ qrObj.MV }} fl
          </li>
        </ul>

      </ion-content>
    </ion-pane>
  </body>
</html>

<!-- <ion-view title="Scan" ng-controller="qrCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <button class="button button-positive" ng-click="scanQr()">Scan</button>
    <ul>
      <li>
        Erythrozyten: {{ qrService.E }} Mio./µl
      </li>
      <li>
        Leukozyten: {{ $scope.qrObj.L }} /µl
      </li>
      <li>
        Thrombozyten: {{ qrObj.T }} /µl
      </li>
      <li>
        Hämoglobinkonzentration: {{ qrObj.Hb }} g/dl
      </li>
      <li>
        Hämatokrit: {{ qrObj.Hk }} %
      </li>
      <li>
        MCH: {{ qrObj.M }} pg
      </li>
      <li>
        MCHC: {{ qrObj.MC }} g/dl
      </li>
      <li>
        MCV: {{ qrObj.MV }} fl
      </li>
    </ul>

  </ion-content>
</ion-view> -->
